@mixin reset-margin-padding {
	margin: 0;
	padding: 0;
}
@mixin size {
	width: 400px;
	height: 300px;
}
@mixin btn-position {
	position: absolute;
	top: 50%;
}
body {
	@include reset-margin-padding;
}
#carousel {
	margin: 100px auto;
	border: 2px solid #34495e;
	@include size;
	box-shadow: 8px 8px 8px gray;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	.btn-left {
		@include btn-position;
	}
	.btn-right {
		@include btn-position;
		right: 0;
	}
	.btn-left:hover, .btn-right:hover {
		cursor: pointer;
	}
	ul {
		@include reset-margin-padding;
		width: 2000px;
		li {
			@include size;
			float: left;
			list-style-type: none;
			.image-text {
				margin: 0;
				padding: 10px;
				position: relative;
				bottom: 20%;
				text-align: center;
				color: #fff;
				font-size: 20px;
			}
			.photos {
				@include size;
			}
		}
	}
}